footer {
    max-width: 100vw;
    height: 80px;
    background-color: var(--footer-bg-color); 
    padding: 0 50px;
    text-align: center;
    font-size: 14px;
    border-top: 40px solid var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}