/* Header Styles */

header {
    max-width: 100vw;
    height: 140px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--color-primary);
}

header .header-icons-container .icons {
    width: 300px;
    height: auto; /*Toma el height de su padre (50px)*/
    display: flex;
    justify-content: flex-end; /*Alinea los elementos al final del padre*/
    align-items: center; /*Centra los elementos verticalmente*/
    justify-content: space-between;
    justify-self: end; /*Alinea el contenedor al final del padre*/
    margin-right: 50px;
}

header .icons span {
    color: var(--color-secondary);
    cursor: pointer;
}

nav {
    height: 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

nav .nav-logo-container {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
}

nav .profile-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

nav .profile-link a {
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto mono', monospace;
}