/* Tablet */
@media (max-width: 768px)  {

/* blogs.html */
    .primary-blog-container {
        grid-template-columns: 1fr;
        grid-template-rows: 20px 1fr .45fr 150px 100px;
        gap: 0;
        height: 750px;
        margin-bottom: 16px;
    }

    .primary-blog-container h3 {
        grid-row: 1;
        grid-column: 2;
        padding-bottom: 24px;
    }

    .blog-image-container {
        grid-row: 2;
        grid-column: 2;
        margin-left: 0;
    }

    .blog-image-container img {
        width: 75%;
        margin-top: 40px;
        transform: translateY(15px);
    }

    .primary-title-container {
        grid-row: 3;
        margin-top: 0;
    }

    .primary-blogs-preview-container {
        grid-column: 2;
        grid-row: 4;
        margin: 0 20px 35px 20px;
    }

    .lastPostBtn-container {
        grid-row: 5;
        justify-content: center;
    }

    .lastPostBtn-container button {
        width: 200px;
        height: 60px;
    }

    hr {
        width: 90%;
    }

    .lastPosts-container article {
        margin-left: 24px;
    }

    .lastPosts-container article:nth-child(1),
    .lastPosts-container article:nth-child(2),
    .lastPosts-container article:nth-child(3),
    .lastPosts-container article:nth-child(4) {
        margin: 12px;
    }
    
    .lastPosts-container article:nth-child(n) {
        margin-left: 40px;
    }

    .lastPosts-container {
        grid-template-columns:  repeat(2, 1fr);
    }

    .lastPosts-container button {
        margin-top: 24px;
    }

/* perfil.html */

    .primary-profile-container {
        grid-template-columns: 1fr;
        grid-template-rows: 250px 125px 160px;
        gap: 0;
        height: 390px;
        padding-top: 0;
    }

    .profile-image-container {
        grid-row: 1;
        margin-left: 0;
        margin-top: 24px;
    }

    .profile-image-container img { 
        width: 85%;
        grid-row: 1;
        transform: translateY(45px);
    }

    .profile-title-container {
        grid-column: 1;
        margin: 24px auto;
        padding-top: 48px;
    }

    .primary-profile-container h2 {
        grid-row: 2;
    }

    .primary-profile-preview-container {
        grid-row: 3;
        margin: 0 auto;
        padding: 0;
    }

    .primary-profile-preview-container p {
        margin: 0;
    }

/* contact.css */

    .contact-main-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        padding: 40px 0;
        gap: 40px;
    }

    .contact-main-container img {
        width: 100px;
    }

}

/* Mobile */
@media (max-width: 576px) {

/* Index.html */

    main .home-main-title-section h1  {
        letter-spacing: 0;
    }

/* blogs.html */

    .primary-blog-container {
        height: 700px;
        padding: 0 24px;
    }

    .primary-blog-container h3 {
        padding-left: 13%;
    }

    .primary-blog-container p {
        font-size: 18px;
    }

    .lastPosts-container {
        grid-template-columns:  1fr;
    }

    .lastPosts-container article:nth-child(n){
        margin-top: 12px;
        margin-left: 60px;
    }

/* blog.html: sin cambios */

    .lastPostBtn-container {
        margin-top: 95px;
    }

    .blog-post-text-container h3{
        font-size: 20px;
    }

    .blog-post-text-container p {
        margin-top: 24px;
        font-size: 18px;
    }

/* perfil.html */

    .primary-profile-container {
        grid-template-columns: 1fr;
        grid-template-rows: 250px 105px 140px;
        gap: 0;
        height: 435px;
        padding: 100px 40px;
        margin-bottom: 20px;
    }

    .profile-image-container {
        grid-row: 1;
        margin-left: 0;
        margin-top: 24px;
    }

    .profile-image-container img { 
        width: 100%;
        grid-row: 1;
        transform: translateY(-15px);
    }

    .profile-title-container {
        grid-column: 1;
        margin: 0 auto;
    }

    .primary-profile-container h2 {
        grid-row: 2;
        padding: 0;
    }

    .primary-profile-preview-container {
        grid-row: 3;
        margin: 0 auto;
        padding: 0;
    }

    .primary-profile-preview-container p {
        margin: 0;
        font-size: 18px;
    }

    h3 {
        font-size: 24px;
    }

    hr {
        width: 80%;
        margin: 0
    }

    .projects-container {
        grid-template-columns: 1fr;
        font-size: 20px;
        padding: 24px 0 45px 12px;
    }

/* contact.css*/

    .contact-main-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        padding: 40px 0;
        gap: 40px;
    }

    .contact-main-container img {
        width: 100px;
    }
} 
